.bgFooter {
  background-color: #f8f7f7;
}
.contentFooter {
  margin-top: 100px;
}
.border-card-right {
  border-right: 1px solid rgb(209, 206, 206);
}
.border-card-left {
  border-right: 1px solid rgb(209, 206, 206);
}
.circle {
  background: red;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-top: 30px;
  margin: 10px;
  justify-content: center;
}
.icon {
  color: red;
  background-color: rgb(248, 221, 221);
  border-radius: 50%;
  font-size: 50;
  width: 60px;
  height: 60px;
}
.cards {
  position: relative;
  margin-top: 20px;
}
.card-subscribe {
  width: 90%;
  position: absolute;
  margin-top: -110px;
}
.free-plan {
  margin-bottom: 180px;
}

/* Galaxy fold */

@media screen and (width: 280px) {
  .cards {
    margin-top: 150px;
    margin-left: 20px;
  }
  .subscribe-content {
    font-size: 15px;
    margin-top: -20px;
  }
  .title-subscribe {
    font-size: 17px;
  }
  .button-card-subscribe {
    height: 30px;
    margin-bottom: 40px;
    margin-left: -20px;
    margin-top: -20px;
  }
  .content-firstCard {
    margin-left: 20px;
  }
  .icon {
    margin-left: -60px;
  }
}

/* Iphone 5 */

@media screen and (width: 320px) {
  .cards {
    margin-top: 150px;
    margin-left: 25px;
  }
  .subscribe-content {
    font-size: 15px;
    margin-top: -20px;
  }
  .title-subscribe {
    font-size: 17px;
  }
  .button-card-subscribe {
    height: 30px;
    margin-bottom: 40px;
    margin-left: -10px;
    margin-top: -20px;
  }
  .content-firstCard {
    margin-left: 50px;
  }
  .icon {
    margin-left: -55px;
  }
}

/* Iphone 6, 7, 8 Iphone X */

@media screen and (width: 375px) {
  .cards {
    margin-top: 200px;
    margin-left: 30px;
  }
  .subscribe-content {
    font-size: 15px;
    margin-top: -20px;
  }
  .title-subscribe {
    font-size: 17px;
  }
  .button-card-subscribe {
    height: 40px;
    margin-bottom: 40px;
    margin-top: -20px;
  }
  .content-firstCard {
    margin-left: 100px;
  }
  .icon {
    margin-left: -50px;
  }
}

/* Iphone 6, 7, 8, plus */

@media screen and (width: 414px) {
  .cards {
    margin-top: 150px;
    margin-left: 35px;
  }
  .subscribe-content {
    font-size: 15px;
    margin-top: -20px;
  }
  .title-subscribe {
    font-size: 17px;
  }
  .button-card-subscribe {
    width: 100px;
    height: 40px;
    margin-bottom: 40px;
    margin-top: -20px;
  }
  .content-firstCard {
    margin-left: 155px;
  }
  .icon {
    margin-left: -60px;
  }
  .textPlan {
    margin-left: 30px;
  }
}

/* Surface Duo */

@media screen and (width: 540px) {
  .cards {
    margin-top: 150px;
    margin-left: 45px;
  }
  .subscribe-content {
    font-size: 15px;
    margin-top: -20px;
  }
  .title-subscribe {
    font-size: 17px;
  }
  .button-card-subscribe {
    width: 100px;
    height: 40px;
    margin-bottom: 40px;
    margin-top: -20px;
  }
  .content-firstCard {
    margin-left: 270px;
  }
  .icon {
    margin-left: -50px;
  }
  .textPlan {
    margin-left: 100px;
  }
}

/* Ipad */

@media screen and (width: 768px) {
  .button-card-subscribe {
    margin-bottom: 40px;
  }
  .cards {
    margin-top: 150px;
    margin-left: 55px;
  }
  .subscribe-content {
    font-size: 20px;
    margin-top: -10px;
  }
  .title-subscribe {
    font-size: 20px;
  }
  .content-firstCard {
    margin-left: 400px;
  }
  .icon {
    margin-left: -20px;
  }
  .textPlan {
    margin-left: -20px;
  }
  .top-card-free {
    margin-top: 230px;
  }
  .top-card-standard {
    margin-top: 165px;
  }
}

/* All responsive screen */
@media screen and (min-width: 280px) and (max-width: 1024px) {
  .imgGetStarted {
    margin-top: 50px;
  }
  .first-card {
    margin-top: 30px;
  }
  .free-plan {
    margin-bottom: 180px;
  }
  .standard-plan {
    margin-bottom: 140px;
  }
  .border-card-right,
  .border-card-left {
    border: 0px solid !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .top-card-free {
    margin-top: 230px;
  }
  .top-card-standard {
    margin-top: 165px;
  }
}

@media screen and (min-width: 486px) and (max-width: 767px) {
  .textPlan {
    margin-left: 80px;
  }
}

@media screen and (min-width: 316px) and (max-width: 767px) {
  .cards {
    margin-top: 100px;
  }
}


/* ////////////////////// admin//////////////////////// */
.dropdownToggle{
  margin-left: -20rem;
  width: 200px;
}
.dashboardLeft{
  height: 50rem;
}